:root {
  --primary-font: "Poppins", sans-serif;
  --sidebar-full: 260px;
  --sidebar-small: 75px;
  --font-base: 14px;
  --section-gap-base: 120px;
  --brand: 34, 197, 94;
  --brand-secondary: 134, 255, 178;
  --white: 255, 255, 255;
  --black: 2, 6, 23;
  --blue: 0, 132, 255;
  --warning: 249, 79, 64;
  --yellow: 255, 217, 0;
  --neon: 149, 255, 0;
  --orange: 255, 76, 0;
  --indigo: 83, 122, 214;
  --purple: 153, 0, 255;
  --dark: #1e2732;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-size: var(--font-base);
  font-weight: 400;
  line-height: normal;
  background-color: rgba(var(--black), 1);
}
#dashboard {
  background-color: rgba(var(--black), 1);
}
.dashboard-effect {
  position: relative;
}
.dashboard-effect:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  background-color: rgba(var(--brand), 0.08);
  filter: blur(140px);
  height: 60%;
  width: 60%;
  border-radius: 100%;
}
.dashboard-body {
  position: relative;
  z-index: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: rgba(var(--white), 1);
}
p {
  margin: 0;
  padding: 0;
  color: rgba(var(--white), 0.8);
  font-size: var(--font-base);
}
span {
  font-size: calc(var(--font-base) - 3px);
}
.text-white {
  color: rgba(var(--white), 1);
}
.text-white-80 {
  color: rgba(var(--white), 0.8);
}
.bg-brand {
  background-color: rgba(var(--brand), 1);
}
.bg-brand-10 {
  background-color: rgba(var(--brand), 0.1);
}
.bg-brand-20 {
  background-color: rgba(var(--brand), 0.2);
}
.transition {
  transition: 0.5s;
}
.hover-bg-brand-40:hover {
  background-color: rgba(var(--brand), 0.4);
}
.bg-white-4 {
  background-color: rgba(var(--white), 0.04);
}
.bg-white-5 {
  background-color: rgba(var(--white), 0.05);
}
.bg-white-10 {
  background-color: rgba(var(--white), 0.1);
}
.bg-warning {
  background-color: rgba(var(--warning), 1);
}
.section-lg-mt {
  margin-top: var(--section-gap-base);
}
.section-lg-pt {
  padding-top: var(--section-gap-base);
}
.section-lg-ptb {
  padding-top: var(--section-gap-base);
  padding-bottom: var(--section-gap-base);
}
.section-md-mt {
  margin-top: calc(var(--section-gap-base) - 40px);
}
.md-p {
  font-size: calc(var(--font-base) - 1px);
}
.sm-p {
  font-size: calc(var(--font-base) - 2px);
  line-height: 26px;
}
.xm-p {
  font-size: calc(var(--font-base) - 5px);
  line-height: 16px;
}
.bg-filter-20 {
  backdrop-filter: blur(20px);
}
.bg-filter-100 {
  backdrop-filter: blur(100px);
}
.hover-shadow {
  transition: 0.5s;
}
.hover-shadow:hover {
  box-shadow: 0px 4px 6px 0px #d9d9d91a;
}
.bd-dark {
  background-color: #1e2732;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
button,
button:focus,
button:active {
  outline: none;
  border: none;
  box-shadow: 0 0 0 transparent !important;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1320px;
}
h1 {
  font-size: calc(var(--font-base) + 13px);
  font-weight: 700;
  line-height: 38px;
}
h2 {
  font-size: calc(var(--font-base) + 11px);
  font-weight: 700;
  line-height: 34px;
}
h3 {
  font-size: calc(var(--font-base) + 9px);
  line-height: 34px;
}
h4 {
  font-size: calc(var(--font-base) + 7px);
  line-height: 32px;
  font-weight: 500;
}
h5 {
  font-size: calc(var(--font-base) + 5px);
  line-height: 30px;
  font-weight: 500;
}
h6 {
  font-size: calc(var(--font-base) + 3px);
  font-weight: 500;
  line-height: 28px;
}
.line-1 {
  height: 1px;
  width: 100%;
  background-color: rgba(var(--white), 0.1);
}
.svg-icon-white path {
  stroke: rgba(var(--white), 0.8) !important;
}
.svg-icon-black path {
  stroke: rgba(var(--black), 0.8) !important;
}
.logo-dark {
  display: none;
}
.primary-btn {
  position: relative;
  background: linear-gradient(
    117.1deg,
    rgba(var(--brand), 1) 35.08%,
    rgba(var(--brand-secondary), 1) 105.57%
  );
  color: rgba(var(--black), 1);
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-weight: 400;
  font-size: var(--font-base);
  border: 1px solid rgba(var(--black), 0.8);
  transition: 0.5s;
}
.primary-btn-sm {
  padding: 4px 10px;
  font-size: calc(var(--font-base) - 3px);
}
/* .primary-btn::before,
.primary-btn::after,
.secondary-btn::before,
.secondary-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
}

.primary-btn:hover::before,
.secondary-btn:hover::before {
  animation: confetti 1s ease-out forwards;
} */
.primary-btn:hover {
  /* background: linear-gradient(
    117.1deg,
    rgba(var(--brand), 1) 35.08%,
    rgba(var(--brand), 1) 105.57%
  ); */
  color: rgba(var(--white), 1);
  box-shadow: 0 0 20px rgba(var(--white), 0.3);
}
/* .primary-btn:hover::after,
.secondary-btn:hover::after {
  animation: confetti 1s ease-out 0.2s forwards;
}
@keyframes confetti {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
    box-shadow: -30px -40px white, 40px -35px white, -45px 25px white,
      35px 30px white, -25px 45px white, 30px 45px white, -35px -20px white,
      25px -30px white;
  }
} */

.secondary-btn {
  position: relative;
  background: rgba(var(--white), 0.1);
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid rgba(var(--white), 0.6);
  font-weight: 400;
  font-size: var(--font-base);
  min-width: 175px;
  transition: 0.5s;
  color: rgba(var(--white), 1);
  backdrop-filter: blur(8px);
}
.secondary-btn-sm {
  padding: 4px 10px;
  font-size: calc(var(--font-base) - 3px);
}

.border-1 {
  border: 1px solid rgba(var(--white), 0.05);
}
.border-2 {
  border: 1px solid rgba(var(--white), 0.1);
}
.border-brand-50 {
  border: 1px solid rgba(var(--brand), 0.5);
}
/* start form css */
.form-label {
  color: rgba(var(--white), 0.8);
  font-size: calc(var(--base) - 1px);
  font-weight: 400;
}
.is-invalid {
  border-color: rgba(var(--warning), 0.05) !important;
  background-color: rgba(var(--warning), 0.05) !important;
}
.invalid-feedback {
  color: rgb(225, 71, 71) !important;
}
.is-valid {
  border-color: #1f7934 !important;
  background-color: #27783a24 !important;
}
.transition {
  transition: all 0.5s ease;
}

.form-control,
textarea {
  border: 1px solid rgba(var(--white), 0.05);
  background: rgba(var(--white), 0.02);
  backdrop-filter: blur(94px);
  padding: 10px 15px;
  color: rgba(var(--white), 0.8);
  border-radius: 999px;
}
textarea {
  min-height: 100px !important;
  border-radius: 10px !important;
}
.form-control::placeholder {
  opacity: 1;
  color: rgba(var(--white), 0.4);
  font-weight: 400;
  font-size: 14px;
}
.form-control:focus,
textarea:focus select:focus {
  background: rgba(var(--brand), 0.05);
  border-color: rgba(var(--brand), 0.15);
  color: rgba(var(--white), 0.8);
  box-shadow: 0 0 0 transparent !important;
}

.form-control.is-valid,
.form-control.is-invalid {
  background-image: none !important;
  background-repeat: no-repeat;
}
/* end form css */
/* start tab css */
.tab-btn li {
  color: rgba(var(--white), 0.4);
  border-bottom: 1px solid transparent;
  font-size: calc(var(--font-base) + 4px);
  padding: 2px 6px;
  cursor: pointer;
  transition: 0.5s;
}
.tab-btn li:hover {
  color: rgba(var(--white), 1);
}
.tab-btn li.active {
  border-color: rgba(var(--brand), 1);
  color: rgba(var(--white), 1);
}
/* end tab css */
.user-profile-logo img {
  width: 100%;
}
.user-profile-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid rgba(var(--white), 0.1);
}

@media all and (max-width: 1080px) {
  h1 {
    font-size: calc(var(--font-base) + 20px);
    line-height: 46px;
  }
  h3 {
    font-size: calc(var(--font-base) + 16px);
    line-height: 40px;
  }
  h4 {
    font-size: calc(var(--font-base) + 8px);
    line-height: 30px;
  }
  h5 {
    font-size: calc(var(--font-base) + 4px);

    line-height: 38px;
    font-weight: 600;
  }
  h6 {
    font-size: calc(var(--font-base) + 2px);
    line-height: 24px;
  }
  .section-lg-mt {
    margin-top: calc(var(--section-gap-base) - 20px);
  }
  .section-lg-pt {
    padding-top: calc(var(--section-gap-base) - 20px);
  }
  .section-lg-ptb {
    padding-top: calc(var(--section-gap-base) - 20px);
    padding-bottom: calc(var(--section-gap-base) - 20px);
  }

  .primary-btn,
  .secondary-btn {
    padding: 8px 20px;
    font-size: var(--font-base);
    min-width: 170px;
  }
  .primary-btn-sm,
  .secondary-btn-sm {
    padding: 2px 8px;
    font-size: calc(var(--font-base) - 5px);
    min-width: 90px;
  }
}
@media all and (max-width: 767px) {
  h1 {
    font-size: calc(var(--font-base) + 9px);
    line-height: 36px;
    font-weight: 500;
  }
  h2 {
    font-size: calc(var(--font-base) + 7px);
    line-height: 34px;
  }
  h3 {
    font-size: calc(var(--font-base) + 5px);
    line-height: 32px;
  }
  h4 {
    font-size: calc(var(--font-base) + 3px);
    line-height: 30px;
  }
}
