:root {
  --primary-font: "Poppins", sans-serif;
  --sidebar-full: 280px;
  --sidebar-small: 75px;
  --font-base: 14px;
  --section-gap-base: 120px;
  --brand: 34, 197, 94;
  --brand-secondary: 134, 255, 178;
  --white: 255, 255, 255;
  --black: 2, 6, 23;
  --blue: 0, 132, 255;
  --warning: 249, 79, 64;
  --yellow: 255, 217, 0;
  --neon: 149, 255, 0;
  --orange: 255, 76, 0;
  --indigo: 83, 122, 214;
  --purple: 153, 0, 255;
  --dark: #1e2732;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-size: var(--font-base);
  font-weight: 400;
  line-height: normal;
  background-color: rgba(var(--black), 1);
}
#dashboard {
  background-color: rgba(var(--black), 1);
}
.dashboard-effect {
  position: relative;
}
.dashboard-effect:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  background-color: rgba(var(--brand), 0.08);
  filter: blur(140px);
  height: 60%;
  width: 60%;
  border-radius: 100%;
}
.dashboard-body {
  position: relative;
  z-index: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: rgba(var(--white), 1);
}
p {
  margin: 0;
  padding: 0;
  color: rgba(var(--white), 0.8);
  font-size: var(--font-base);
}
span {
  font-size: calc(var(--font-base) - 3px);
}
.text-white {
  color: rgba(var(--white), 1);
}
.text-white-80 {
  color: rgba(var(--white), 0.8);
}
.text-brand {
  color: rgba(var(--brand), 1) !important;
}
.text-brand-80 {
  color: rgba(var(--brand), 0.8) !important;
}
.text-warning {
  color: rgba(var(--warning), 1) !important;
}
.text-warning-80 {
  color: rgba(var(--warning), 0.8);
}

.bg-brand {
  background-color: rgba(var(--brand), 1);
}
.bg-brand-10 {
  background-color: rgba(var(--brand), 0.1);
}
.bg-brand-20 {
  background-color: rgba(var(--brand), 0.2);
}
.transition {
  transition: 0.5s;
}
.hover-bg-brand-40:hover {
  background-color: rgba(var(--brand), 0.4);
}
.bg-white-2 {
  background-color: rgba(var(--white), 0.02);
}
.bg-white-4 {
  background-color: rgba(var(--white), 0.04);
}
.bg-white-5 {
  background-color: rgba(var(--white), 0.05);
}
.bg-white-10 {
  background-color: rgba(var(--white), 0.1);
}
.bg-warning {
  background-color: rgba(var(--warning), 1);
}
.bg-black-50 {
  background-color: rgba(var(--black), 1);
}
.bg-black-10 {
  background-color: rgba(var(--black), 01);
}
.section-lg-mt {
  margin-top: var(--section-gap-base);
}
.section-lg-pt {
  padding-top: var(--section-gap-base);
}
.section-lg-ptb {
  padding-top: var(--section-gap-base);
  padding-bottom: var(--section-gap-base);
}
.section-md-mt {
  margin-top: calc(var(--section-gap-base) - 40px);
}
.lg-p {
  font-size: calc(var(--font-base) + 2px);
}
.text-xl {
  font-size: calc(var(--font-base) + 5px) !important;
}
.md-p {
  font-size: calc(var(--font-base) - 1px);
}
.sm-p {
  font-size: calc(var(--font-base) - 2px);
  line-height: 24px;
}
.xm-p {
  font-size: calc(var(--font-base) - 5px);
  line-height: 16px;
}
.bg-filter-20 {
  backdrop-filter: blur(20px);
}
.bg-filter-100 {
  backdrop-filter: blur(100px);
}
.hover-shadow {
  transition: 0.5s;
}
.hover-shadow:hover {
  box-shadow: 0px 4px 6px 0px #d9d9d91a;
}
.bd-dark {
  background-color: #1e2732;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
button,
button:focus,
button:active {
  outline: none;
  border: none;
  box-shadow: 0 0 0 transparent !important;
}
button {
  border: none !important;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1920px;
}
h1 {
  font-size: calc(var(--font-base) + 13px);
  font-weight: 700;
  line-height: 38px;
}
h2 {
  font-size: calc(var(--font-base) + 11px);
  font-weight: 700;
  line-height: 34px;
}
h3 {
  font-size: calc(var(--font-base) + 9px);
  line-height: 34px;
}
h4 {
  font-size: calc(var(--font-base) + 7px);
  line-height: 32px;
  font-weight: 500;
}
h5 {
  font-size: calc(var(--font-base) + 5px);
  line-height: 30px;
  font-weight: 500;
}
h6 {
  font-size: calc(var(--font-base) + 3px);
  font-weight: 500;
  line-height: 26px;
}
.line-1 {
  height: 1px;
  width: 100%;
  background-color: rgba(var(--white), 0.1);
}

.svg-icon-white path {
  stroke: rgba(var(--white), 0.8) !important;
  transition: 0.5s;
}
.svg-icon-hover-brand:hover path {
  stroke: rgba(var(--brand), 0.8) !important;
}
.svg-icon-white-30 path {
  stroke: rgba(var(--white), 0.3) !important;
}
.svg-icon-black path {
  stroke: rgba(var(--black), 0.8) !important;
}
.svg-icon-brand path {
  stroke: rgba(var(--brand), 1) !important;
}
.logo-dark {
  display: none;
}

.primary-btn {
  position: relative;
  background: linear-gradient(
    117.1deg,
    rgba(var(--brand), 1) 35.08%,
    rgba(var(--brand-secondary), 1) 105.57%
  );
  color: rgba(var(--black), 1);
  padding: 9px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-weight: 500;
  font-size: var(--font-base);
  border: 1px solid rgba(var(--black), 0.8);
  transition: 0.5s;
  gap: 4px;
}
.primary-btn-sm {
  padding: 4px 10px;
  font-size: calc(var(--font-base) - 3px);
}

.primary-btn:hover {
  color: rgba(var(--white), 1);
  box-shadow: 0 0 20px rgba(var(--white), 0.3);
}

.secondary-btn {
  position: relative;
  background: rgba(var(--white), 0.1);
  padding: 9px 22px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid rgba(var(--white), 0.6);
  font-weight: 500;
  font-size: var(--font-base);
  min-width: 175px;
  transition: 0.5s;
  color: rgba(var(--white), 1);
  backdrop-filter: blur(8px);
}
.secondary-btn:hover {
  background: rgba(var(--brand), 1);
}
.secondary-btn-sm {
  padding: 4px 10px;
  font-size: calc(var(--font-base) - 3px);
}
.border-1 {
  border: 1px solid rgba(var(--white), 0.05) !important;
}
.border-2 {
  border: 1px solid rgba(var(--white), 0.1) !important;
}
.border-brand-50 {
  border: 1px solid rgba(var(--brand), 0.5) !important;
}
.border-brand-10 {
  border: 1px solid rgba(var(--brand), 0.1) !important;
}
.border-brand {
  border: 1px solid rgba(var(--brand), 1) !important;
}
.border-yellow-50 {
  border: 1px solid rgba(var(--yellow), 0.5) !important;
}

/* start form css */
.form-label {
  color: rgba(var(--white), 1);
  font-size: calc(var(--font-base) - 1px);
  font-weight: 400;
}
.is-invalid {
  border-color: rgba(var(--warning), 0.05) !important;
  background-color: rgba(var(--warning), 0.05) !important;
}
.invalid-feedback {
  color: rgb(225, 71, 71) !important;
}
.is-valid {
  border-color: #1f7934 !important;
  background-color: #27783a24 !important;
}
.transition {
  transition: all 0.5s ease;
}

.form-control,
textarea {
  border: 1px solid rgba(var(--white), 0.05);
  background: rgba(var(--white), 0.02);
  backdrop-filter: blur(94px);
  padding: 10px 15px;
  color: rgba(var(--white), 0.8);
  border-radius: 999px;
}
textarea {
  min-height: 100px !important;
  border-radius: 10px !important;
}
.form-control::placeholder {
  opacity: 1;
  color: rgba(var(--white), 0.4);
  font-weight: 400;
  font-size: 14px;
}
.form-control:focus,
textarea:focus select:focus {
  background: rgba(var(--brand), 0.05);
  border-color: rgba(var(--brand), 0.15);
  color: rgba(var(--white), 0.8);
  box-shadow: 0 0 0 transparent !important;
}

.form-control.is-valid,
.form-control.is-invalid {
  background-image: none !important;
  background-repeat: no-repeat;
}
/* end form css */
/* start tab css */
.tab-btn li {
  color: rgba(var(--white), 1);
  border: 1px solid rgba(var(--brand), 1);
  font-size: calc(var(--font-base) + 1px);
  padding: 2px 6px;
  cursor: pointer;
  transition: 0.5s;
  min-width: 184px;
  border-radius: 20px;
  font-weight: 500;
}
.tab-btn li img {
  max-width: 20px;
}
.tab-btn li:hover {
  background-color: rgba(var(--brand), 1);
}
.tab-btn li.active {
  background-color: rgba(var(--brand), 1);
}
/* end tab css */
.user-profile-logo img {
  width: 100%;
}
.user-profile-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid rgba(var(--white), 0.1);
}
.icon-box-xl {
  max-width: 120px;
}
.icon-box-md {
  height: 45px;
  width: 45px;
}
.icon-box-sm {
  height: 35px;
  width: 35px;
}
.icon-box-md img {
  max-width: 24px;
  width: auto;
}
.badge {
  padding: 6px 10px !important;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: calc(var(--font-base) - 2px);
  justify-content: center;
  min-width: 82px;
}
.active-badge {
  background: rgba(var(--brand), 0.2) !important;
  color: rgba(var(--brand), 1) !important;
}
.inactive-badge {
  background: rgba(var(--warning), 0.2) !important;
  color: rgba(var(--warning), 1) !important;
}
/* card design css */
.common-card {
  margin-top: 30px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(var(--white), 0.05);
  background: linear-gradient(
      41deg,
      rgba(var(--white), 0) 56.72%,
      rgba(var(--white), 0.1) 185.28%
    ),
    linear-gradient(
      254deg,
      rgba(var(--white), 0) 38.62%,
      rgba(var(--white), 0.05) 80.2%
    ),
    rgba(var(--white), 0.03);

  backdrop-filter: blur(7px);
}
.common-card h4 {
  font-size: calc(var(--font-base) + 10px) !important;
}
.gradient-border {
  position: relative;
}
.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1.5px;
  background: linear-gradient(
    90deg,
    rgba(var(--warning), 0.4) -12.56%,
    transparent 70.56%
  );
  background-size: 100% 100%;
  -webkit-mask: linear-gradient(rgba(var(--white), 1) 0 0) content-box,
    linear-gradient(rgba(var(--white), 1) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.common-card-icon {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  background: linear-gradient(180deg, #f37927 0%, #ff4c00 100%);
  position: absolute;
  top: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  box-shadow: 0 0 50px 6px rgba(var(--warning), 0.5);
}
.common-card-icon img {
  width: 28px;
}
.common-card-shape {
  content: "";
  width: 70px;
  height: 65px;
  background-color: #020617;
  border-bottom-left-radius: 35px;
  position: absolute;
  top: 0;
  right: 0;
}
.light-mode .common-card-shape {
  background-color: #fff;
}

.common-card-shape::before,
.common-card-shape::after {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  background: radial-gradient(
      circle 20px at bottom left,
      transparent 98%,
      #020617
    )
    bottom left;
}
.light-mode .common-card-shape::before,
.light-mode .common-card-shape::after {
  background: radial-gradient(circle 20px at bottom left, transparent 98%, #fff)
    bottom left;
}
.common-card-shape::before {
  top: 0;
  left: -20px;
}

.common-card-shape::after {
  right: 0;
  bottom: -20px;
}

.card-box-area .card-box-item:nth-child(2) .common-card-icon {
  background: linear-gradient(
    117.1deg,
    rgba(var(--brand), 1) 45.08%,
    rgba(var(--brand), 0.7) 105.57%
  );
  box-shadow: 0 0 50px 10px rgba(var(--brand), 0.5);
}
.card-box-area .card-box-item:nth-child(2) .gradient-border::before {
  background: linear-gradient(
    90deg,
    rgba(var(--brand), 0.4) -12.56%,
    transparent 70.56%
  );
}

.card-box-area .card-box-item:nth-child(3) .common-card-icon {
  background: linear-gradient(
    117.1deg,
    rgba(var(--blue), 1) 45.08%,
    rgba(var(--blue), 0.7) 105.57%
  );
  box-shadow: 0 0 50px 10px rgba(var(--blue), 0.5);
}
.card-box-area .card-box-item:nth-child(3) .gradient-border::before {
  background: linear-gradient(
    90deg,
    rgba(var(--blue), 0.4) -12.56%,
    transparent 70.56%
  );
}
.card-box-area .card-box-item:nth-child(4) .common-card-icon {
  background: linear-gradient(
    117.1deg,
    rgba(var(--yellow), 0.5) 45.08%,
    rgba(var(--yellow), 0.7) 105.57%
  );
  box-shadow: 0 0 50px 10px rgba(var(--yellow), 0.5);
}
.card-box-area .card-box-item:nth-child(4) .gradient-border::before {
  background: linear-gradient(
    90deg,
    rgba(var(--yellow), 0.4) -12.56%,
    transparent 70.56%
  );
}

@media all and (max-width: 1080px) {
  h1 {
    font-size: calc(var(--font-base) + 20px);
    line-height: 46px;
  }
  h3 {
    font-size: calc(var(--font-base) + 16px);
    line-height: 40px;
  }
  h4 {
    font-size: calc(var(--font-base) + 8px);
    line-height: 30px;
  }
  h5 {
    font-size: calc(var(--font-base) + 4px);

    line-height: 28px;
    font-weight: 600;
  }
  h6 {
    font-size: calc(var(--font-base) + 2px);
    line-height: 24px;
  }
  .section-lg-mt {
    margin-top: calc(var(--section-gap-base) - 20px);
  }
  .section-lg-pt {
    padding-top: calc(var(--section-gap-base) - 20px);
  }
  .section-lg-ptb {
    padding-top: calc(var(--section-gap-base) - 20px);
    padding-bottom: calc(var(--section-gap-base) - 20px);
  }

  .primary-btn,
  .secondary-btn {
    padding: 8px 20px;
    font-size: var(--font-base);
    min-width: auto;
  }
  .primary-btn-sm,
  .secondary-btn-sm {
    padding: 2px 8px;
    font-size: calc(var(--font-base) - 5px);
    min-width: auto;
  }
}
@media all and (max-width: 767px) {
  .primary-btn,
  .secondary-btn {
    padding: 6px 15px;
  }
  h1 {
    font-size: calc(var(--font-base) + 9px);
    line-height: 36px;
    font-weight: 500;
  }
  h2 {
    font-size: calc(var(--font-base) + 7px);
    line-height: 34px;
  }
  h3 {
    font-size: calc(var(--font-base) + 5px);
    line-height: 32px;
  }
  h4 {
    font-size: calc(var(--font-base) + 3px);
    line-height: 30px;
  }
  .common-card h4 {
    font-size: calc(var(--font-base) + 8px) !important;
  }
  .common-card-icon {
    height: 50px;
    width: 50px;
    top: 0px;
    right: 8px;
  }
  .text-xl {
    font-size: calc(var(--font-base) + 2px) !important;
  }
}
.preview {
  position: relative;
  z-index: 2;
}

.preview img {
  width: 100%;
  border-radius: 12px;
  height: 100%;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: rgba(var(--warning), 1);
  color: #fff;
  font-size: calc(var(--font-base) + 4px);

  cursor: pointer;
}
.hidden {
  display: none;
}
.preview {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
