/* Custom Search Box */
.dataTables_filter input {
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 18px !important;
  padding: 6px 12px !important;
  border: 1px solid rgba(var(--brand), 0.6) !important;
  background: rgba(var(--brand), 0.1) !important;
  min-width: 200px !important;
}
.dataTables_filter input:focus {
  outline: none;
}
.dataTables_filter label {
  font-weight: 400;
  color: rgba(var(--white), 1);
}
.dataTables_info {
  font-weight: 400;
  color: rgba(var(--white), 1) !important;
}
.data-table thead tr th {
  background: rgba(var(--white), 0.06) !important;
  color: rgba(var(--white), 1) !important;
  border: none !important;
  font-weight: 500 !important;
}
.data-table tbody tr.odd td {
  background: rgba(var(--white), 0.01) !important;

  color: rgba(var(--white), 1) !important;
  border: none !important;
}
.data-table tbody tr.even td {
  background: rgba(var(--white), 0.02) !important;
  color: rgba(var(--white), 0.8) !important;
  border: none !important;
}
.data-table {
  background: rgba(var(--white), 0.05) !important;
  border-radius: 5px;

  margin-bottom: 10px !important;
}

.dataTables_wrapper {
  border-radius: 10px;
}
table.dataTable.display > tbody > tr.even > .sorting_1,
table.dataTable.order-column.stripe > tbody > tr.even > .sorting_1 {
  box-shadow: 0 0 0 transparent !important;
}
.dataTables_length label {
  font-weight: 400;
  color: rgba(var(--white), 1) !important;
}
.dataTables_length select {
  border: 1px solid rgba(var(--white), 0.1) !important;
  outline: none !important;
  margin: 0 10px !important;
}
.dataTables_paginate span {
  border-radius: 10px;
  color: rgba(var(--white), 1) !important;
}
span .paginate_button.current {
  background: rgba(var(--brand), 1) !important;
}
.dataTables_paginate {
  border: 1px solid rgba(var(--brand), 0.4) !important;
  border-radius: 8px;
  padding: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  min-width: 35px;
  padding: 5px 2px;
  margin-left: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: rgba(var(--white), 1) !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-size: 14px;
}
.dataTables_paginate.paging_simple_numbers a.paginate_button {
  color: rgba(var(--white), 1) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: rgba(var(--brand), 1) !important;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 10px;
}
table.dataTable thead th,
table.dataTable tbody td {
  padding: 8px 16px !important;
}
table.dataTable thead > tr > th.sorting_asc:before {
  color: rgba(var(--brand), 1) !important;
  opacity: 1;
}

table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:after {
  color: rgba(var(--brand), 1) !important;
  opacity: 1;
}
table.dataTable thead > tr > th.sorting::after,
table.dataTable thead > tr > th.sorting_asc::after,
table.dataTable thead > tr > th.sorting_desc::after,
table.dataTable thead > tr > th.sorting_asc_disabled::after,
table.dataTable thead > tr > th.sorting_desc_disabled::after,
table.dataTable thead > tr > td.sorting::after,
table.dataTable thead > tr > td.sorting_asc::after,
table.dataTable thead > tr > td.sorting_desc::after,
table.dataTable thead > tr > td.sorting_asc_disabled::after,
table.dataTable thead > tr > td.sorting_desc_disabled::after {
  color: rgba(var(--brand), 0.4) !important;
  opacity: 1;
  font-size: 8px;
}
table.dataTable thead > tr > th.sorting:before,
table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_desc:before,
table.dataTable thead > tr > th.sorting_asc_disabled:before,
table.dataTable thead > tr > th.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:before {
  color: rgba(var(--brand), 1) !important;
  opacity: 1;
  font-size: 8px;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
  color: rgba(var(--brand), 1) !important;
  opacity: 1;
  font-size: 10px !important;
}

.child {
  background: rgba(var(--brand), 0.04) !important;
  border: 0;
}

.child ul li span {
  color: rgba(var(--white), 0.8) !important;
}
.child ul li {
  border-color: rgba(var(--brand), 0.12) !important;
}
table.data-table tr th {
  white-space: nowrap !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  border-radius: 5px;
}
.paginate_button:active {
  background-color: transparent !important;
  box-shadow: 0 0 0 transparent !important;
}
table.dataTable.no-footer {
  border-bottom: none;
}

@media all and (max-width: 991px) {
  table.dataTable thead th,
  table.dataTable tbody td {
    padding: 8px 28px !important;
    font-size: 12px;
  }
  table.dataTable tbody td p {
    font-size: 12px !important;
  }
}
@media all and (max-width: 480px) {
  table.dataTable thead th,
  table.dataTable tbody td {
    padding: 8px 12px !important;
  }
  .header-search-box {
    min-width: 100% !important;
  }
}
