.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: rgba(var(--brand), 0.8);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: rgba(var(--brand), 1);
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  background: rgba(var(--white), 0.03);
}
.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year {
  color: rgba(var(--white), 0.8) !important;
}
.flatpickr-day {
  color: rgba(var(--white), 0.8) !important;
  background: rgba(var(--brand), 0.1);
}
.flatpickr-calendar.arrowTop:before {
  border-bottom-color: rgba(var(--brand), 0.8) !important;
}
.flatpickr-weekday {
  color: rgba(var(--white), 0.8) !important;
}
.flatpickr-calendar {
  box-shadow: 0 0 0 transparent;
  border: 1px solid rgba(var(--brand), 0.4);
}
.flatpickr-day.inRange {
  -webkit-box-shadow: -5px 0 0 rgba(var(--brand), 0.1),
    5px 0 0 rgba(var(--brand), 0.1);
  box-shadow: -5px 0 0 rgba(var(--brand), 0.1), 5px 0 0 rgba(var(--brand), 0.1);
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: rgba(var(--brand), 0.2);
  border-color: rgba(var(--brand), 0.4);
}
.flatpickr-time input {
  background: rgba(var(--brand), 1);
  color: rgba(var(--white), 1);
}
.flatpickr-time input:hover {
  background: rgba(var(--brand), 0.8);
}
.flatpickr-time .flatpickr-am-pm {
  background: rgba(var(--brand), 0.5);
  font-size: 18px;
}
.flatpickr-day.today {
  border-color: rgba(var(--brand), 0.5);
}
.flatpickr-next-month svg path,
.flatpickr-prev-month svg path {
  fill: rgba(var(--brand), 1) !important;
}
.flatpickr-calendar {
  background: rgba(var(--brand), 0.1);
  backdrop-filter: blur(100px);
}

.input-wrapper input {
  width: 90px;
}
.input-wrapper.secondary-btn {
  padding-left: 12px;
  padding-right: 12px;
  min-width: 150px;
}
.secondary-btn.flatpickr-input {
  width: 145px;
}
.flatpickr-current-month .numInputWrapper span.arrowUp:after,
.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-bottom-color: rgba(var(--brand), 1) !important;
}
