.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: rgba(var(--brand), 0.8);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: rgba(var(--brand), 1);
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: rgba(var(--brand), 0.2);
  border-color: rgba(var(--brand), 0.4);
}
.flatpickr-time input {
  background: rgba(var(--brand), 1);
  color: rgba(var(--white), 1);
}
.flatpickr-time input:hover {
  background: rgba(var(--brand), 0.8);
}
.flatpickr-time .flatpickr-am-pm {
  background: rgba(var(--brand), 0.5);
  font-size: 18px;
}
.flatpickr-day.today {
  border-color: rgba(var(--brand), 0.5);
}
.flatpickr-next-month svg path,
.flatpickr-prev-month svg path {
  fill: rgba(var(--brand), 1) !important;
}
.flatpickr-calendar {
  background: rgba(var(--white), 0.95);
  backdrop-filter: blur(100px);
}
