.copy-icon-box {
  height: 32px;
  width: 32px;
  background-color: rgba(var(--brand), 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 32px;
  position: relative;
  transition: 0.5s;
}
.copy-icon-box:hover {
  background-color: rgba(var(--brand), 0.6);
}
.copy-input {
  transition: all 0.25s ease;
}
#datePicker::placeholder {
  color: #fff;
}
.copy-tooltip {
  position: absolute;
  top: -30px;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(var(--brand), 0.6);
  color: #fff;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.copy-icon-box.show-tooltip .copy-tooltip {
  opacity: 1;
  transform: translateX(50%) translateY(-5px);
}
/* copy success state */
.copy-wrapper.copied .copy-input {
  color: rgba(var(--brand), 0.9) !important;
}

.social-share li a {
  display: flex;
  border-radius: 8px;
  align-items: center;
  color: rgba(var(--white), 1);
  font-size: calc(var(--font-base) + 2px);
  padding: 14px 24px;
  gap: 6px;
  background: rgba(var(--white), 0.1);
  width: 100%;
  justify-content: center;
  transition: 0.5s;
}
.social-share li {
  flex: 1 1 0;
}
.social-share li a:hover {
  background: rgba(var(--brand), 0.4);
}
