.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: 0;
  background-color: rgba(var(--white), 0.1);
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid rgba(var(--white), 0.1);
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: #94a3b8;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
input:checked + .slider {
  background: linear-gradient(
    90deg,
    rgba(var(--brand), 1),
    rgba(var(--brand-secondary), 1)
  );
  border-color: transparent;
}
input:checked + .slider:before {
  transform: translateX(30px);
  background-color: white;
}
.toggle-2fa label {
  font-weight: 400;
  font-size: calc(var(--base) - 1px);
}
@media all and (max-width: 991px) {
  .switch {
    width: 50px;
    height: 26px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }
  input:checked + .slider:before {
    transform: translateX(24px);
  }
}
